body {

    display: flex;
    flex-direction: row;
}

.main{
    width: 100%;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

.left{
    font-family: 'Roboto Mono', monospace;
    width: 20%;
}

a{

    font-weight: bold;
}