<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Post</title>
</head>
<body>
    <div>
        <a href="{% url 'principal' %}">Voltar</a> 
    </div>
    <div>
        <h1>Crie um post</h1>
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {{formulario.as_table}}
            <button type="submit">salvar</button>
        </form>
    </div>
</body>
</html>