<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes</title>
</head>
<body>
    <div>
        <a href="{% url 'principal' %}">Voltar</a>
        <a href="{% url 'alterar' searchedPost.id %}">Alterar</a>
        <a href="{% url 'delete' searchedPost.id %}">Delete</a>
    </div>
    <h2>{{searchedPost.titulo}}</h2>
    <p>{{searchedPost.data}}</p>
    <p>{{searchedPost.texto}}</p>    
</body>
</html>