{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/principal.css' %}">
    <title>Página Principal</title>

    <style>
        .botao{font-size: 15px; background-color: rgb(2, 143, 96); border-color: rgb(3, 107, 84); color: white; font-weight: bold; text-decoration: none; padding: 3px 10px 5px; border-radius: 5px;}
    </style>
</head>
<body>
    <div class="left">
        <a class="botao" href="{% url 'criar' %}">Criar uma postagem</a>
    </div>

    <div class="main">
        <h1 style="margin-bottom: 40px; color: red">Blog de Programação</h1>
        {% for item in posts %}
            <div style="border: 1px #cecece solid; padding: 20px">
                <h2>{{item.titulo}}</h2>
                <a href="{% url 'detalhe' item.id %}" class="botao">Acessar</a>
            </div>
        {% endfor %}
    </div>


</body>
</html>
